.container {
  width: 945px;
}

.header-wrapper {
  background: url(../img/bg-head.png) center center;
  max-width: 1920px;
  height: 650px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 21px;
}
.head .head-center .textp {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}
.head .head-center .texth {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}
.head .head-right a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.head .head-right button {
  margin-left: 6px;
  margin-top: 4px;
  width: 153px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #C70101;
  border-radius: 5px;
}

.sub-head {
  text-align: end;
  margin-top: 91px;
}
.sub-head .general-text p {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10px;
}
.sub-head .general-text h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.sub-head button {
  width: 300px;
  height: 50px;
  left: 1px;
  top: 2px;
  background: #C70101;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.sub-head .link {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.sub-head .link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.sub-head .fichi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 60px 20px 50px 400px;
}
.sub-head .fichi p {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  margin-top: 20px;
}
.sub-head .fichi .fichi-block {
  padding-left: 70px;
}

.benefits-block {
  margin-top: 70px;
  text-align: center;
}
.benefits-block h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #0D0D0D;
  margin-bottom: 60px;
}
.benefits-block .block h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #0D0D0D;
}
.benefits-block .block p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #0D0D0D;
  padding: 0 15px;
  line-height: 23px;
}
.benefits-block .block a {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FF0000;
}

.consultation {
  background: url(../img/bg2.png);
  max-width: 1920px;
  height: 680px;
  margin-top: 50px;
}
.consultation .text {
  padding-top: 100px;
}
.consultation .text h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.consultation .text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.consultation .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.consultation .input input {
  margin-top: 10px;
  width: 303px;
  height: 54px;
  padding-left: 15px;
  background: #FFFFFF;
  border-radius: 5px;
}
.consultation button {
  width: 300px;
  height: 50px;
  left: 1px;
  top: 2px;
  background: #C70101;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10px;
}

.carusel {
  padding: 81px 0;
  width: 100%;
}
.carusel .carusel-block {
  width: 750px;
  margin: 0 auto;
  position: relative;
}
.carusel .slick-prev {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
}
.carusel .slick-prev img {
  width: 31px;
  height: 50px;
}
.carusel .slick-next {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: auto;
  right: -66px;
}
.carusel .slick-next img {
  width: 31px;
  height: 50px;
}

.catalog {
  padding: 80px 0px;
}
.catalog h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  color: #0D0D0D;
}
.catalog__tabs {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.catalog__tab {
  width: 222px;
  height: 52px;
  left: 211px;
  top: 0px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #D0D0D0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #6B6B6B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog__tab div {
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}
.catalog__tab_active {
  width: 223px;
  height: 52px;
  left: 0px;
  top: 0px;
  background: #C70101;
  color: #FFFFFF;
  border: none;
}
.catalog__content {
  display: none;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  overflow: hidden;
  margin-top: 40px;
  width: 303px;
  min-height: 442px;
  border: 2px solid #E8E8E8;
  padding: 20px 20px 26px 20px;
  margin: 5px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 15px;
  font-weight: 900;
  font-size: 16px;
  line-height: 25px;
  color: #0D0D0D;
  text-align: center;
}
.catalog-item__descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #0D0D0D;
  text-align: center;
  margin-top: 15px;
}
.catalog-item__link {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-item__btn {
  width: 135px;
  height: 44px;
  left: 150px;
  top: 378px;
  background: #C70101;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.catalog-item__old {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #555555;
}
.catalog-item__new {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #050505;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: 19px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
}
.catalog-item__list li {
  margin: 5px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
  position: relative;
}
.catalog-item__list li::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: red;
  left: -14px;
  top: 7px;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  color: red;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}